** {{docTitle}} {{tags}}
:PROPERTIES:
:ID: {{id}}
:END:

{{description}}

- {{dateCreated}}

*** Answer

#+CAPTION: {{docTitle}}
#+NAME:   fig:{{name}}
#+ATTR_HTML: :width 800px
#+ATTR_HTML: :align left
{{link}}



