** {{docTitle}} {{tags}}:
:PROPERTIES:
:ID: {{id}}
:END:

- {{id}}
- {{dateCreated}}
- {{url}}

*** Question

{{ai_generated_summary}}

Original description: {{description}}

*** Answer

- Core Technologies/Services:

{{ai_generated_core_technologies}}

- Architecture Overview:

```mermaid
{{ai_generated_mermaid_diagram}}
```

[[{{local_diagram_path}}]]